*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	padding: 10px;
	display: grid;
	border-bottom: 1px solid silver;
}

.header-xl{
	height: 100vh; 
	justify-content: center;
	align-items: center;
}

.header-lg{
	height: 75vh;
	justify-content: center;
	align-items: center;
}

.header-md{
	height: 50vh;
	justify-content: center;
	align-items: center;
}

.header-sm{
	height: 25vh;
	justify-content: center;
	align-items: center;
}
