*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

main{
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	text-align: center;
}

/* BUTTONS */
.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	font-family: sans-serif;
	text-align: center;
	padding: 10px 1em;
	font-size: 1.05rem;
	border-radius: 5px;
	cursor: pointer;
	/* border: none; */
	border: 1px solid silver;
	box-shadow: 2px 2px 2px #ffffff;
	transition: box-shadow 0.3s ease;
}

button:hover{ 
	box-shadow: 2px 2px 2px lightgrey;	
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn-success{
	background-color: #05F725;
}

.btn-info{
	background-color: #09CDE8;
}

.btn-dark{
	background-color: #000000;
	color: white;
}

.btn-light{
	background-color: #ffffff;
	border: 1px solid #C8F1F7;
}

.btn-error{
	background-color: #ff005c;
	color: white;
}

.btn-green{
	background-color: #13E040;
}

.btn-primary{
	background-color: #195EF7;
	color: white;
}

.btn-orange{
	background-color: orange;
}

.btn-tomato{
	background-color: tomato;
	color: whitesmoke;
}

.btn-teal{
	background-color: teal;
	color: rgb(255, 255, 255);
}

.btn-navy{
	background-color: navy;
	color: white;
}
