*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: Arial;
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

nav{
	height: max-content;
	background-color: rgba(211, 211, 211, 0.404);
	overflow: hidden;
	width: 100%;
	padding: 1em 0;
}

nav ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	font-size: 1em;
}

nav ul li{
	text-align: center;
	flex: 0 1 50px;
}

nav li a{
	text-decoration: none;
	display: block;
	color: blue;
	padding: 0.2em;
}

.nav-center ul{ justify-content: center; }
.nav-left ul{ justify-content: flex-end; }


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	nav ul{
		width: 95%;
		margin: auto;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
