*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { font-size: 62.5%; }
body { font-family: 'Trebuchet MS', Arial, sans-serif; }

.box{ display: grid; }

.box-child{ width: 100%; }

.box-center{
	justify-content: center;
	align-items: center;
}

.box-1 { width: 8.3333%; }
.box-2 { width: 16.6666%; }
.box-3 { width: 25%; }
.box-4 { width: 33.3333%; }
.box-5 { width: 41.6666%; }
.box-6 { width: 50%; }
.box-7 { width: 58.3333%; }
.box-8 { width: 66.6666%; }
.box-9 { width: 75%; }
.box-10 { width: 83.3333%; }
.box-11 { width: 91.6666%; }
.box-12 { width: 100%; }


.box-parent,
.box-parent-xl,
.box-parent-lg,
.box-parent-md,
.box-parent-sm{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}

.box-parent-xl{
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.box-parent-lg{
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.box-parent-md{
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.box-parent-sm{
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-child{
	padding: 5px;
	border: 1px solid lightgrey;
}

@media (min-width: 400px) {}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
