*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	display: grid;
	justify-content: center;
	align-items: center;
}


input[type="radio"],
input[type="checkbox"]{
	margin: 5px;
	box-shadow: 2px 2px 2px lightgrey;
}

