/*
* CSSLite 0.1.0
* Copyright 2021, Benjamin Thorpe
* https://csslite.netlify.app
* Free to use, misuse & abuse under the MIT license.
*/

/* BASE STYLES
============================================================== */
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { font-size: 62.5%; scroll-behavior: smooth; }
body { font-family: 'Trebuchet MS', Arial, sans-serif; }
a:hover { color: #0fa0ce; }
p{ line-height: 1.5; font-size: 1.5rem;}


/* NAVIGATION
=================================================================== */
nav{
	background-color: #fff;
	min-height: 4em;
	max-height: 10vh;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo{
	font-size: 1.5rem;
	font-style: italic;
	color: #555;
	margin-right: auto; /* delete this line to make LOGO center */
}
/* TODO: add a style in-case logo is an image */

nav ul{
	width: 100%;
	list-style: none;
	display: none;
	flex-direction: column;
	gap: 1em;
	font-size: 1.6rem;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	height: max-content;
	overflow: hidden;
	padding: 0.5em 0;
	background-color: #fbfbfb;
	border-bottom: 1px solid #f1f1f1;
}

.showNav{ display: flex; }

nav ul li{
	padding: 0 1em;
	text-align: right;
}

nav li a{
	text-decoration: none;
	display: block;
	color: #4169e1;
}

nav .burger{
	margin-left: auto;
	display: flex;
	flex-direction: column;
	gap: .5em;
	cursor: pointer;
}

nav .burger > div{
	border-top: 3px solid #000000;
	width: 3rem;
}


/* HEADINGS & HEADERS
========================================================== */
header{
	padding: 1em;
	line-height: 1.4;
	background-color: #fbfbfb;
	border-bottom: 1px solid #f1f1f1;
}

h1, h2, h3, h4, h5, h6{
	margin: .3em 0;
	line-height: 1.4;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Utility classes for headers
-------------------------------------------------- */
.max-header,
.lg-header,
.md-header,
.sm-header{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
}

/* The display: flex; and flex-direction are for
    block elements that does not have flex as display.*/
.center-both {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.max-header { height: 100vh; }
.lg-header { height: 75vh; }
.md-header { height: 50vh; }
.sm-header { height: 25vh; }


/* BUTTONS
=========================================================== */
.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	padding: 10px 1em;
	font-size: 1.05rem;
	cursor: pointer;
	box-shadow: 2px 2px 2px #fff;
	transition: box-shadow 0.3s ease;
	border: 1px solid #b5d9e4;
	border-radius: 5px;
	text-decoration: none;
}

button:hover{ box-shadow: 2px 2px 2px lightgrey; }
[disabled] { cursor: default; }

/* Call To Action button */
.cta{
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	background-color: rgba(0, 128, 128, 0.87);
	padding: .7em 1.5em;
	border-radius: 3px;
}

/* Utility classes for buttons
-------------------------------------------------- */
.success-btn {
	background-color: #05F725;
	color: #222;
}

.info-btn {
	background-color: #18a1d8;
	color: #f4f4f4;
}

.dark-btn {
	background-color: #141922;
	color: #ffffff;
}

.orange-btn {
	background-color: #ffa500;
	color: #f1f1f1;
}

.teal-btn {
	background-color: #08b3b3;
	color: #222;
}

.navy-btn {
	background-color: #000080;
	color: #fff;
}


.dark-btn{
	background-color: #000000;
}

.light-btn{
	background-color: #616967;
	color: #dee9eb;
}

.error-btn{
	background-color: #f00;
	color: #ffffff;
}

.warning-btn{
	background-color: rgb(207, 207, 34);
	color: #222;
}


/* LISTS
============================================================ */
ul, ol{
	list-style-position: inside;
	line-height: 1.6;
	font-size: .8rem;
}

ul > li, ol > li{
	height: fit-content;
	padding: .4em .2em;
}

/* Utility classes for lists
-------------------------------------------------------------- */
/* .list-space, .list-split{
	display: grid;
	grid-gap: 1em;
}
.list-split{ grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } */


/* FORMS
============================================================ */
form{
	padding: 1rem;
	width: 95%;
	margin: auto;
}

label, .form-div label{
	display: block;
	letter-spacing: .025em;
	color: #232;
	font-size: 1.6rem;
	font-weight: normal;
	margin-bottom: 0.1em;
}

input, textarea{
	padding: .7em .5em;
	font-size: 1.6rem;
	border-radius: 5px;
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea{
	border: 1px solid lightgrey;
}

textarea{
	padding: .5em;
	line-height: 1.5;
	min-height: 8em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

::placeholder{
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}

/* Utility classes for form
------------------------------------------------ */
.form-div{
	padding: 0.2em;
	margin-bottom: .55em;
}

input.only-bottom{
	border: none;
	border-bottom: 1px solid #d3d3d3;
	border-radius: 2px;
}

/* GRID (BOX)
======================================================== */
.box{ display: grid; }

.box-child{ width: 100%; }

.box-center{
	justify-content: center;
	align-items: center;
}

.box-1 { width: 8.3333%; }
.box-2 { width: 16.6666%; }
.box-3 { width: 25%; }
.box-4 { width: 33.3333%; }
.box-5 { width: 41.6666%; }
.box-6 { width: 50%; }
.box-7 { width: 58.3333%; }
.box-8 { width: 66.6666%; }
.box-9 { width: 75%; }
.box-10 { width: 83.3333%; }
.box-11 { width: 91.6666%; }
.box-12 { width: 100%; }


/* TABLES
======================================================== */
table{
	display: block;
	width: 100%;
	white-space: nowrap;
	margin-top: 1em;
	border-collapse: collapse;
}

th, td {
	padding: .8em;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}

/* Utility classes for tables
-------------------------------------------------------------- */
.table-scroll, .table-scroll-x, .table-scroll-y { overflow-y: scroll; }
.table-borders th, .table-borders td { border-left: 2px solid #e1e1e1; }
.table-borders th { border-top: 2px solid lightgrey; }


/* CODE
============================================= */
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3em;
	margin-bottom: 3.5em;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}

/* FLASH MESSAGES (warnings/cookies pop-up)
===================================================== */
.flash-message{
  padding: 1em;
	margin: 1em 2em;
	padding-top: 0;
	line-height: 1.5;
	color: #666;
	background-color: #fbfbfb;
	display: grid;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.close-flash{
	position: relative;
	top: .5em;
	justify-self: flex-end;
	width: 30px;
	height: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	background-color: #ddd;
	border-radius: 50%;
	cursor: pointer;
}

.close-flash::after{
	color:#888;
	content: "\2716";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transform: translateY(10%);
}

.flash-bottom{
	position: absolute;
	bottom: 0;
}

.flash-message.flash-dark{
	background-color: #333;
	color: #f1f1f1;
}


/* MODALS
==================================================== */
.modal, .modal-close{ position: relative; }

.modal-close::after{
  content: "\2716";
  font-size: 3rem;
  position: absolute;
  top: 5rem;
  right: 3rem;
  z-index: 5;
  color: #ccc;
  cursor: pointer;
}

.modal-content{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  display: grid;
  place-items: center;
}


/* MEDIA QUERIES
==================================================== */
@media (min-width: 400px) {
	nav{ padding: 1em 1.5em; }
}

@media (min-width: 576px) {
/* ---- Headings ---- */
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }

/* ---- Navigations ---- */
	nav{ min-height: 5em; }
	.logo{ font-size: 1.7rem; }
	nav ul{ font-size: 1.8rem; }
}

@media (min-width: 768px) {
/* ---- Navigations ---- */
	nav ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: initial;
		position: static;
		background-color: inherit;
		border-bottom: none;
	}

	nav li a:hover{ color: blue; }
	nav .burger{ display: none; }
	.nav-center ul{ justify-content: center; }
	.nav-left ul{ justify-content: flex-start; }

/* ---- Forms ---- */
	form{ width: 90%; }
	textarea{ min-height: 10em; }
	label, .form-div label{
		margin-bottom: 0.2em;
		font-size: 1.9rem;
	}
	.form-div{ margin-bottom: 0.8em; }
	form.half-width{ width: 50%; }
	form.three-quart{ width: 75%; }

/* ---- Modals ---- */
	.modal-content{ padding: 5vw; }
	.modal-close::after{
		font-size: 4rem;
		right: 5rem;
	}
}

@media (min-width: 992px) {
	.logo{ margin-left: 1%;}

/* ---- Modals ---- */
	.modal-content{ padding: 10vw; }
  .modal-close::after{
    top: 8rem;
    right: 8rem;
  }
}

@media (min-width: 1200px) {}
