*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	padding: 5px;
}

main{
	width: 100%;
	margin: auto;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{
	display: block;
	overflow: scroll;
	white-space: nowrap;
	margin-top: 1rem;
	border-collapse: collapse;
	border-spacing: 0;
}

th{ border-top: 2px solid lightgrey; }

th, td {
  padding: .8rem;
  text-align: left;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #E1E1E1;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
