*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	padding: 5px;
}

main{
	width: 100%;
	margin: auto;
}

/* TABLES
======================================================== */
table{
	display: block;
	width: 100%;
	white-space: nowrap;
	margin-top: 1rem;
	border-collapse: collapse;
}

th, td {
	padding: .8rem;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}

/* Utility classes for tables
-------------------------------------------------------------- */
.table-scroll{ overflow: scroll; }
.table-scroll-x{ overflow-x: scroll; }
.table-scroll-y{ overflow-y: scroll; }
.table-borders th, .table-borders td{ border-left: 2px solid #e1e1e1; }
.table-borders th{ border-top: 2px solid lightgrey; }


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
