*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

form{
	width: 100%;
	margin: auto;
	padding: 10px;
}

label{
	display: inline-block;
	width: 100px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-family: sans-serif, Arial;
	letter-spacing: 2px;
	color: grey;
	font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"]{
	display: block;
	width: 100%;
	padding: 10px 5px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {	
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		padding: 10px;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	form{ width: 80%; }

	label{ font-weight: lighter; }

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		display: inline-block;
		font-size: 18px;
	}	
}

/* Larger than tablet */
@media (min-width: 750px) {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		width: 80%;
		display: block;
	}	
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
