*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* FORMS
============================================================ */
form{ padding: .7rem; }

label{
	display: inline-block;
	font-family: sans-serif, Arial;
	letter-spacing: 1px;
	color: rgb(99, 96, 96);
	font-size: 1.13rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea{
	padding: .5em;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 1rem;
	outline: 0;
    overflow: auto;
}

textarea{ min-height: 100px; }

/* all placeholders */
::placeholder{
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}


/* MOBILE FIRST MEDIA QUERIES */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
