*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

form{
	width: 100%;
	padding: 1rem;
}

label{
	display: inline-block;
	margin-top: 1.5rem;
	margin-bottom: 5px;
	font-family: sans-serif, Arial;
	letter-spacing: 1px;
	color: rgb(99, 96, 96);
	font-size: 1.13rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"]{
	display: block;
	width: 100%;
	padding: .7rem;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px;
	display: block;
}

/* all placeholders */
::placeholder{
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}


/* MOBILE FIRST MEDIA QUERIES */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
	label{ 
		display: inline-block; 
		width: 100px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		width: 80%;
		display: inline-block;
		font-size: 1.13rem;
	}	
}

/* Larger than tablet */
@media (min-width: 750px) {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		width: 80%;
		display: block;
	}	
}

/* Larger than desktop */
@media (min-width: 1000px) {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"]{
		display: block;
		width: 100%;
	}	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
